# This is Git's per-user configuration file.
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    side-by-side = true
    line-numbers = true
    dark = true
    navigate = true

[merge]
hyperlinks = true
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Simon Blixenkrone
	email = sblixenkrone@gmail.com
[init]
	defaultBranch = main
[alias]
    # ATTENTION: All aliases prefixed with ! run in /bin/sh make sure you use sh syntax, not bash/zsh or whatever
    recentbr = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[github]
	token = ef685d01abecc811e07dfc83f50b2329b8da9f6f
	user = blixenkrone
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
